# No game data of any kind is committed to this repository.
_work/
*.nds
*.zip
*.srl
*.sav
arm9.bin
arm7.bin
overlay*
*.nsbmd
*.nsbca
*.nsbta
*.nsbma
*.nsbva
*.nsbtx
*.nsbtp
*.sdat
*.mods
*.adx
*.ahx
*.arc
*.bin
*.scr
*.fdt
*.nbfc
*.nbfp
*.nbfs
*.ntft
*.ntfp
*.NFTR
*.imb
*.mpb
*.plb
*.boxtest
*.sfc
*.gba
__pycache__/
*.pyc
